<!DOCTYPE HTML>
<html ng-app="riseApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="keywords" content="" />
  <meta http-equiv="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  <title>Sound of RISE</title>

   <link href='http://fonts.googleapis.com/css?family=Oswald:300, 400' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Lato:300, 400, 700' rel='stylesheet' type='text/css'>

  <!-- libs -->
  <script src="js/lib/firebase.js"></script>
  <script src="js/lib/angular.js"></script>
  <script src="js/lib/angularfire.js"></script>

  <!-- Angular App -->
  <script src="js/app.js"></script>
  <script src="js/services/soundcloudapi.js"></script>
  <script src="js/controllers/playerctrl.js"></script>
  <script src="js/controllers/likectrl.js"></script>
  <script src="js/controllers/submitctrl.js"></script>
  <script src="js/controllers/leaderboardctrl.js"></script>
  <script src="js/controllers/recentlyplayedctrl.js"></script>

  <!-- SoundCloud -->
  <script src="js/lib/soundcloud.js"></script>

  <!-- CSS -->
  <!-- <link href='css/googlefonts.css' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
   <div class="wrapper">
      <div class="left-sidebar">
         <img src="images/riselogo.png" alt="">
         <nav>
            <ul>
               <li><a href="http://www.risecafe.ca">Home</a></li>
               <li><a href="http://www.risecafe.ca/about-rise-1.html">About RISE</a></li>
               <li><a href="http://www.risecafe.ca/menu.html">Menu</a></li>
               <li><a href="http://www.risecafe.ca/contact.html">Contact</a></li>
               <li><a href="http://www.risecafe.ca/press-1.html">Press</a></li>
               <li><a class="active-item" href="">Sound of RISE</a></li>
            </ul>
         </nav>
      </div>
      <div class="content">
         <div class="desktop-logo-block">
            <div class="desktop-logo-block-text">Sound of RISE</div>
         </div>
         <div class="about">
            <div class="about-text">
               <p>Conversations need a cup of coffee,</p>
               <p>Coffee needs music,</p>
               <p>Rise needs you</p>
            </div>
            <div class="about-pic-desc">
               <img src="images/icons.svg" alt="">
            </div>
         </div>
         <div class="upload-song">
            <p class="desc">
               We want to share our love of music with our fellow coffee drinkers. Share your favourite songs and we play them in the café for the rest Rise to hear.  Upload and vote for the music that matters to you.
            </p>
            <div class="upload-form" ng-controller="SubmitCtrl">
              <div id="conformation-block" ng-class="{confirmationActive: confShowing}">
                    <div class="left-conf-content">
                       <div class="great-block">
                          <p>Great</p>
                          <p>choice !</p>
                       </div>
                       <img src="images/rock.jpg" alt="">
                    </div>
                    <div class="right-conf-content">
                       <p class="right-conf-content__added">Your song was added to RISE playlist.</p>
                       <p class="conf-song-num">Your song is <span>#{{ upcomingSongs.length }}</span> in the queue</p>
                    </div>
                </div>
                <form>
                  <div class="sc-url-block">
                     <label>Find your track on souncloud and paste the URL below</label>
                     <input class="sc-url" type="text" ng-model="newsong.url" placeholder="Paste your soundcloud URL here">
                  </div>
                  <div class="nickname-block">
                     <label>Enter your nickname for the leader board</label>
                     <input class="nickname" type="text" ng-model="newsong.submitter" placeholder="Nickname">
                  </div>
                  <div class="submit-url-block">
                     <label></label>
                     <button class="submit-url" ng-click="submit(newsong)" type="button">Submit</button>
                  </div>
                </form>
            </div>
         </div>
         <div class="three-col">
            <div class="col-1" ng-controller="PlayerCtrl">
                <div class="sc-play">
                  <a ng-class="{'new-heart': songIsLiked(currentSong.$id)}" class="like-heart-abs" ng-click="toggleLike(currentSong.$id)"></a>
                  <iframe id="sc-widget" width="100%" height="260" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/134766478"></iframe>
                </div>
                <ul class='songs-list'>
                  <li>
                     <div class="title-song">{{ currentSong.title }}</div>
                     <div class="submit-by">Submitted by <span class="submition-name">{{ currentSong.added_by }}</span></div>
                     <a></a>
                   </li>
                </ul>
               <div class="tablet-block">
                 <h2>UPCOMING SONGS</h2>
                 <ul class="songs-list">
                 <li>
                   <div class='track-name'>Track Name</div>
                   <div class='like'>Like</div>
                 </li>
                 <li ng-show="upcomingSongs.length === 0">
                   <div class='text'>
                     <p>Up next at Rise</p>
                     <p>Your favourite song!</p>
                     <p>Upload now!</p>
                   </div>
                   </li>
                  <li ng-repeat="song in upcomingSongs | orderBy:'+time_added' | limitTo: 2">
                     <div class="title-song-block">
                       <div class="title-song">{{ song.title }}</div>
                       <div class="submit-by">Submitted by
                         <span class="submition-name">{{ song.added_by }}</span>
                       </div>
                     </div>
                     <a ng-class="{'new-heart': songIsLiked(song.$id)}" class="like-heart" ng-click="toggleLike(song.$id)"></a>
                  </li>
               </ul>
               </div>
            </div>
            <div class="col-2" ng-controller="RecentlyPlayedCtrl">
               <h2>RECENTLY PLAYED</h2>
               <ul class="songs-list">
                  <li>
                     <div class="track-name">Track Name</div>
                     <div class="like">Like</div>
                  </li>
                  <li ng-repeat="song in allSongs | orderBy:'-last_played' | limitTo: 6">
                    <div class="title-song-block">
                       <div class="title-song">{{ song.title }}</div>
                       <div class="submit-by">Submitted by <span class="submition-name">{{ song.added_by }}</span></div>
                     </div>
                     <a ng-class="{'new-heart': songIsLiked(song.id)}" class="like-heart" ng-click="toggleLike(song.id)"></a>
                  </li>
               </ul>
            </div>
            <div class="col-3" ng-controller="LeaderboardCtrl">
               <h2>LEADER BOARD</h2>
               <ul class="songs-list">
               <li>
                 <div class="rank-name-title">Rank</div>
                 <div class="rank-nickname-title">Nickname</div>
                 <div class="like-heart-counts-title">Likes</div>
                </li>
                <li ng-repeat="user in users | orderBy:'-likes' | limitTo: 10">
                  <div class="rank">{{ $index+1 }}</div>
                  <div class="rank-nickname">{{ user.username }}</div>
                  <div class="like-heart-counts">{{ user.likes }}</div>
                </li>
              </ul>
            </div>
         </div>
         <footer>
            <div class="footer-content">
               <ul>
                  <li><a class="goog" href=""></a></li>
                  <li><a class="fb" href=""></a></li>
                  <li><a class="twit" href=""></a></li>
               </ul>
               <p class="copyright">&copy; Copyright 2014</p>
            </div>
         </footer>
      </div>
   </div>
</body>
</html>
