

/** {
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
         ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

html {
   width: 100%;
   height: 100%;
}

body {
   background: url("../images/background.jpg") 0 0 repeat;
}

h1 {
   font-family: 'Oswald', Arial;
   margin: 10px 0;
   font-size: 25px;
}

h2 {
   font-family: 'Oswald', Arial;
   margin: 0px 0px 5px 0px;
   font-size: 18px;
   text-align: center;
}

h3 {
   font-family: 'Oswald', Arial;
   margin: 10px 0px 0px 0px;
   font-size: 15px;
}

h4 {
   font-family: 'Lato', Arial;
   font-size: 14px;
   line-height: 140%;
   padding-left: 10px;
   background-color: #eee;
}

p {
   font-family: 'Lato', Arial;
   font-size: 14px;
   line-height: 140%;
   padding-left: 10px
}

/***************** Header *****************/

.wrapper {
   max-width: 900px;
   width: 100%;
   margin: 0 auto;
}

.header {
   height: 135px;
   position: relative;
}

.left-links {
   float: left;
   width: 45%;
   text-align: center;
   margin-top: 50px;
}

.right-links {
   float: right;
   width: 45%;
   text-align: center;
   margin-top: 50px;
}

.left-links li,
.right-links li {
   display: inline-block;
}

.left-links li a,
.right-links li a {
   padding: 0 40px;
   font-size: 16px;
   font-family: 'Oswald', Arial;
   color: #e54343;
}

.b-logo_link {
   position: absolute;
   top: 0;
   right: 50%;
   margin-right: -117px;
   display: block;
   width: 234px;
   margin-top: -90px;
}

/***************** Content *****************/

.banner {
   max-width: 900px;
   width: 100%;
   margin-bottom: 20px;
   overflow: hidden;
   position: relative;
}

.text {
   position: absolute;
   left: 30px;
   top: 20px;
   color: #fff;
   width: 55%;
}

.blocks-3 {
   width: 100%;
   margin-bottom: 20px;
   overflow: hidden;
   position: relative;
}

.col-1,
.col-2,
.col-3 {
   width: 32%;
   float: left;
   height: 250px;
   margin: 0 0 0 2%;
   padding-left: 0%;
   background: #cecece;
   color: #fff;

}

.col-1 {
   height: 318px;
   margin: 0;
}

.col-1 h2,
.col-2 h2,
.col-3 h2 {
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 8px;

}

.col-31 {
   width: 22%;
   float: right;
   height: 180px;
   margin: 0 0 0 0;

}

.double-col {
   width: 64%;
   margin: 2% 0 0 2%;
   background: #cecece;
   height: 50px;
   position: absolute;
   right: 0;
   bottom: 0;
   padding-left: 2%;
   color: #fff;
}

/* Tablets */
@media screen and (min-width: 384px) and (max-width: 768px) {

   /***************** Header *****************/

   .left-links li,
   .right-links li {
      margin-bottom: 15px;
   }

}

/* Mobile */
@media screen and (min-width: 100px) and (max-width: 384px) {

/***************** Mobile Header Ver_1 *****************/

   .header {
      height: 130px;
   }

   .left-links li,
   .right-links li {
      display: block;
      background: #f3d3d3;
   }

   .left-links li:hover,
   .right-links li:hover {
      display: block;
      background: #eeb2b2;
   }

   .left-links li a,
   .right-links li a {
      padding: 10px;
      display: block;
      font-size: 18px;
   }

   .left-links {
      padding-top: 130px;
      width: 100%;
      margin: 0;
   }

   .right-links {
      padding-top: 0;
      width: 100%;
      margin: 0;
   }

/***************** Mobile Header Ver_2 *****************/

/*   .left-links li,
   .right-links li {
      display: block;
   }

   .left-links li a,
   .right-links li a {
      padding: 10px;
      display: block;
      font-size: 18px;
   }

   .left-links {
      text-align: left;
      width: 68%;
      margin: 0 0 0 32%;
   }

   .right-links {
      text-align: left;
      width: 68%;
      margin: 0 0 0 32%;
      float: left;
   }

   .b-logo_link {
      position: absolute;
      top: 0;
      left: 0;
      width: 32%;
   }*/

/*********** Mobile Content ************/
   .col-1,
   .col-2,
   .col-3 {
      width: 100%;
      float: left;
      height: 250px;
      margin: 0 0 20px 0;
      background: #cecece;
   }

   .double-col {
      width: 100%;
      margin: 0;
      background: #bbb;
      height: 50px;
      position: relative;
      float: left;
   }
}

.col-3 .name-list li {
   list-style: none !important;
}

.name-list li {
   margin: 5px 8px;
list-style: none;
}

.heart {
   float: right;
padding: 0 0 0 17px;
background: url('../images/like_red.png') 0 0 no-repeat;
}*/