* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  font-family: Arial;
  font-size: 90%;
  background: url("../images/bg.jpg") center top no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

h2 {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 24px;
  padding-top: 25px;
  color: #444;
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  *zoom: 1;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper:before, .wrapper:after {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}

.left-sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  background: red;
}
.left-sidebar:last-child {
  margin-right: 0;
}
.left-sidebar img {
  width: 90px;
}
.left-sidebar nav ul li {
  padding: 20px 0;
  padding: 0;
  margin: 0;
}

.content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  height: 400px;
}
.content:last-child {
  margin-right: 0;
}

.desktop-logo-block {
  height: 165px;
}

.about {
  height: 150px;
}

.upload-song {
  overflow: hidden;
  border-top: 1px solid #fff;
}
.upload-song .desc {
  width: 88.4688%;
  padding: 18px 0;
  font-family: 'Lato';
  font-size: 16px;
  color: #fff;
  line-height: 1.4em;
  -webkit-text-shadow: 1px 1px 0 #2e2e2e;
  -moz-text-shadow: 1px 1px 0 #2e2e2e;
  -o-text-shadow: 1px 1px 0 #2e2e2e;
  text-shadow: 1px 1px 0 #2e2e2e;
}

.upload-form {
  padding: 3.4026%;
  background: #fff;
  font-size: 0;
}
.upload-form label {
  font-size: 13px;
  font-weight: 300;
  font-family: 'Lato';
}
.upload-form .sc-url-block {
  display: inline-block;
  vertical-align: bottom;
  width: 50.2589%;
  margin-right: 3.4026%;
}
.upload-form .sc-url {
  width: 100%;
  margin-top: 5px;
  padding: 13px 10px 13px 80px;
  background: url("../images/sc.jpg") 10px 7px no-repeat;
  color: #666666;
  border: 1px solid #C6C5C5;
  outline-color: orange;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 300;
}
.upload-form .nickname-block {
  display: inline-block;
  vertical-align: bottom;
  width: 29.8979%;
  margin-right: 3.4026%;
}
.upload-form .nickname {
  width: 100%;
  margin-top: 5px;
  padding: 13px 15px;
  color: #666666;
  border: 1px solid #C6C5C5;
  outline-color: orange;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 300;
}
.upload-form .submit-url-block {
  display: inline-block;
  vertical-align: bottom;
  width: 12.3969%;
}
.upload-form .submit-url {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Lato';
  border: none;
  background: #ED1F24;
  padding: 14px 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.three-col {
  overflow: hidden;
  margin-top: 18px;
  margin-bottom: 100px;
}

.col-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background: #fff;
}
.col-1:last-child {
  margin-right: 0;
}
.col-1 h2 {
  padding-top: 10px;
}
.col-1 .songs-list {
  padding: 0px 15px 15px;
}
.col-1 .sc-play {
  width: 100%;
}

.songs-list {
  padding: 10px 15px 25px;
  font-size: 0;
  font-family: 'Lato';
}
.songs-list li:first-child {
  border: none;
}
.songs-list li {
  border-top: 1px solid #979797;
  padding-top: 9px;
  margin-top: 9px;
}
.songs-list li div {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.songs-list .title-song {
  font-weight: 700;
  color: #4E4E4E;
}
.songs-list .submit-by {
  font-size: 11px;
  display: block;
  margin-top: 5px;
}
.songs-list .like-heart {
  background: url("../images/heart_16.svg") top center no-repeat;
  width: 10px;
  height: 16px;
  cursor: pointer;
}
.songs-list .new-heart {
  background-position: 50% -16px;
}
.songs-list .track-name,
.songs-list .title-song-block {
  width: 57.8484%;
}
.songs-list .like,
.songs-list .like-heart {
  width: 12.6060%;
  display: inline-block;
  vertical-align: middle;
}
.songs-list .countdown-title,
.songs-list .countdown {
  width: 29.3030%;
}
.songs-list .like,
.songs-list .countdown-title,
.songs-list .countdown {
  text-align: center;
}

.col-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background: #fff;
}
.col-2:last-child {
  margin-right: 0;
}
.col-2 li {
  border-top: 1px solid #979797;
  padding-top: 11px;
  margin-top: 11px;
}
.col-2 .track-name,
.col-2 .title-song-block {
  width: 82.8484%;
}
.col-2 .like-heart {
  background: url("../images/heart_24.svg") top center no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.col-2 .new-heart {
  background-position: 50% -24px;
}
.col-2 .like {
  text-align: left;
}

.col-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background: #fff;
}
.col-3:last-child {
  margin-right: 0;
}
.col-3 li div {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.col-3 .like-heart-counts-title,
.col-3 .like-heart-counts {
  text-align: center;
}
.col-3 .rank-name-title,
.col-3 .rank {
  width: 17.1875%;
  text-align: center;
}
.col-3 .rank-nickname-title,
.col-3 .rank-nickname {
  width: 60.15625%;
}
.col-3 .like-heart-counts-title,
.col-3 .like-heart-counts {
  width: 16.40625%;
  padding-top: 2px;
  height: 14px;
}
.col-3 .like-heart-counts {
  padding-left: 20px;
  background: url("../images/heart_16.svg") 0 -16px no-repeat;
}

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .left-sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .left-sidebar:last-child {
    margin-right: 0;
  }
  .left-sidebar img {
    float: left;
  }
  .left-sidebar nav ul li {
    display: inline-block;
  }

  .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .content:last-child {
    margin-right: 0;
  }
  .content .desktop-logo-block {
    display: none;
  }
}
@media screen and (max-width: 384px) {
  .left-sidebar nav ul li {
    display: block;
    padding: 0;
    margin: 0;
  }
  .left-sidebar img {
    width: 140px;
  }

  .upload-song {
    opacity: 0.9;
  }
  .upload-song .desc {
    width: 100%;
    padding: 14px;
    font-size: 18px;
  }

  .upload-form .sc-url-block {
    margin-top: 10px;
    width: 100%;
  }
  .upload-form .nickname-block {
    margin-top: 18px;
    width: 100%;
  }
  .upload-form .submit-url-block {
    margin-top: 14px;
    margin-bottom: 5px;
    width: 38.6458%;
  }

  .three-col {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .col-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background: #fff;
    margin-bottom: 25px;
    opacity: 0.9;
  }
  .col-1:last-child {
    margin-right: 0;
  }

  .songs-list li div {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
  }
  .songs-list .submit-by {
    font-size: 13px;
    display: block;
    margin-top: 5px;
  }

  .col-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background: #fff;
    margin-bottom: 25px;
    opacity: 0.9;
  }
  .col-2:last-child {
    margin-right: 0;
  }

  .col-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background: #fff;
    margin-bottom: 25px;
    opacity: 0.9;
    height: 400px;
  }
  .col-3:last-child {
    margin-right: 0;
  }
}
